#page-AdminAcess{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
}

#page-AdminAcess .content-wrapper {
    width: 95%;
    max-width: 488px;
    
    height: 100%;
    max-height: 576px;

    box-sizing: border-box;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.952);
    border-radius: .8rem;
}
#page-AdminAcess .content-wrapper header{
    width: 100%;
}

#page-AdminAcess .content-wrapper header .tolbarLogin{
    display: flex;
    justify-content: center;
    line-height: 100px;

    color: #222;
}

#page-AdminAcess .content-wrapper main{
    display: flex;
    justify-content: center;
}

#page-AdminAcess .content-wrapper main .content{
        width: 350px;
    }

.formGroup-Credentials form{
    display: flex;
    flex-direction: column;
}